#index {
  font-family: "Lexend Deca", sans-serif;
  color: #ffffff;
  background-color: #D1495B; }
  #index h1 {
    font-family: "Bungee", cursive;
    color: #EDAE49;
    text-shadow: 0.3rem 0.2rem #003D5B;
    font-size: 70px; }
    #index h1 button {
      box-shadow: 0.3rem 0.3rem #003D5B; }
    #index h1 img {
      box-shadow: 0.3rem 0.3rem #003D5B; }
  #index #heroContent {
    color: white;
    background-image: url("../img/philpott-bg-1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #00798C; }
  #index .jumbotron {
    background-color: transparent; }
    #index .jumbotron .img-fluid {
      margin: 10px;
      text-shadow: 0.3rem 0.2rem #D1495B; }
      #index .jumbotron .img-fluid button {
        box-shadow: 0.3rem 0.3rem #D1495B; }
      #index .jumbotron .img-fluid img {
        box-shadow: 0.3rem 0.3rem #D1495B; }
    #index .jumbotron h1 {
      font-family: "Limelight", cursive;
      color: #EDAE49;
      text-shadow: 0.3rem 0.2rem #D1495B;
      font-size: 60px; }
      #index .jumbotron h1 button {
        box-shadow: 0.3rem 0.3rem #D1495B; }
      #index .jumbotron h1 img {
        box-shadow: 0.3rem 0.3rem #D1495B; }
      @media (min-width: 992px) {
        #index .jumbotron h1 {
          font-size: 100px; } }
    #index .jumbotron h2, #index .jumbotron h3 {
      color: #ffffff;
      text-shadow: 0.3rem 0.2rem #003D5B;
      font-family: "Lexend Deca", sans-serif; }
      #index .jumbotron h2 button, #index .jumbotron h3 button {
        box-shadow: 0.3rem 0.3rem #003D5B; }
      #index .jumbotron h2 img, #index .jumbotron h3 img {
        box-shadow: 0.3rem 0.3rem #003D5B; }
      #index .jumbotron h2 span, #index .jumbotron h3 span {
        color: #D1495B; }
    #index .jumbotron #philpottCover {
      text-shadow: 0.3rem 0.2rem #D1495B; }
      #index .jumbotron #philpottCover button {
        box-shadow: 0.3rem 0.3rem #D1495B; }
      #index .jumbotron #philpottCover img {
        box-shadow: 0.3rem 0.3rem #D1495B; }
  #index #indexShop {
    font-family: "Lexend Deca", sans-serif;
    color: #003D5B;
    background-color: #EDAE49; }
    #index #indexShop h1 {
      font-family: "Bungee", cursive;
      color: #D1495B;
      text-shadow: 0.3rem 0.2rem #003D5B;
      font-size: 70px; }
      #index #indexShop h1 button {
        box-shadow: 0.3rem 0.3rem #003D5B; }
      #index #indexShop h1 img {
        box-shadow: 0.3rem 0.3rem #003D5B; }
  #index #indexTourDates {
    color: white;
    background-image: url("../img/tour-dates-bg-1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #D1495B; }
    #index #indexTourDates .table {
      font-family: "Lexend Deca", sans-serif;
      color: #ffffff;
      font-size: 15px; }

.albumStreamLinks {
  text-shadow: 0.3rem 0.2rem #003D5B; }
  .albumStreamLinks a {
    color: #ffffff; }
  .albumStreamLinks a:hover {
    color: #D1495B; }
  .albumStreamLinks button {
    color: #003D5B; }
  .albumStreamLinks button:hover {
    background-color: #D1495B;
    border-color: #D1495B;
    color: #003D5B; }
  .albumStreamLinks button {
    box-shadow: 0.3rem 0.3rem #003D5B; }
  .albumStreamLinks img {
    box-shadow: 0.3rem 0.3rem #003D5B; }
