.navbar {
  background-color: #000; }
  .navbar .navbar-nav {
    color: #ffffff; }

body {
  padding-top: 65px; }

.site-footer {
  background-color: #000;
  color: #ffffff;
  padding: 20px; }
  .site-footer a {
    color: #D1495B; }
  .site-footer a:hover {
    color: #ffffff; }
  .site-footer p {
    font-family: "Lexend Deca", sans-serif;
    font-size: 12px; }

#mailingListModal .modal-header {
  background-color: #003D5B;
  font-family: "Righteous", cursive;
  color: #D1495B;
  padding: 2px; }
  #mailingListModal .modal-header .modal-title {
    text-shadow: 0.07em 0.07em #EDAE49;
    font-size: 40px; }

#mailingListModal .modal-body {
  background-color: #003D5B;
  color: #D1495B; }

#mailingListModal #rowButtons {
  text-shadow: 0.3rem 0.2rem #EDAE49; }
  #mailingListModal #rowButtons button {
    box-shadow: 0.3rem 0.3rem #EDAE49; }
  #mailingListModal #rowButtons img {
    box-shadow: 0.3rem 0.3rem #EDAE49; }
  #mailingListModal #rowButtons button:hover {
    background-color: #ffffff;
    color: #EDAE49; }
  #mailingListModal #rowButtons button {
    background-color: #D1495B;
    color: #EDAE49; }

#index {
  font-family: "Lexend Deca", sans-serif;
  color: #ffffff;
  background-color: #000; }
  #index h1 {
    font-family: "Righteous", cursive;
    color: #EDAE49;
    text-shadow: 0.3rem 0.2rem #003D5B;
    font-size: 60px; }
    #index h1 button {
      box-shadow: 0.3rem 0.3rem #003D5B; }
    #index h1 img {
      box-shadow: 0.3rem 0.3rem #003D5B; }
    @media (min-width: 992px) {
      #index h1 {
        font-size: 100px; } }
  #index #heroContent {
    color: white;
    background-image: url("../img/philpott-bg-1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #00798C; }
  #index .jumbotron {
    background-color: transparent;
    margin: 0;
    padding: 10px; }
    #index .jumbotron .img-fluid {
      margin: 10px;
      text-shadow: 0.3rem 0.2rem #D1495B; }
      #index .jumbotron .img-fluid button {
        box-shadow: 0.3rem 0.3rem #D1495B; }
      #index .jumbotron .img-fluid img {
        box-shadow: 0.3rem 0.3rem #D1495B; }
    #index .jumbotron h1 {
      font-family: "Limelight", cursive;
      color: #EDAE49;
      text-shadow: 0.3rem 0.2rem #D1495B;
      font-size: 60px; }
      #index .jumbotron h1 button {
        box-shadow: 0.3rem 0.3rem #D1495B; }
      #index .jumbotron h1 img {
        box-shadow: 0.3rem 0.3rem #D1495B; }
      @media (min-width: 992px) {
        #index .jumbotron h1 {
          font-size: 100px; } }
    #index .jumbotron h2, #index .jumbotron h3 {
      color: #ffffff;
      text-shadow: 0.3rem 0.2rem #003D5B;
      font-family: "Lexend Deca", sans-serif; }
      #index .jumbotron h2 button, #index .jumbotron h3 button {
        box-shadow: 0.3rem 0.3rem #003D5B; }
      #index .jumbotron h2 img, #index .jumbotron h3 img {
        box-shadow: 0.3rem 0.3rem #003D5B; }
      #index .jumbotron h2 span, #index .jumbotron h3 span {
        color: #D1495B; }
    #index .jumbotron #philpottCover {
      text-shadow: 0.3rem 0.2rem #D1495B; }
      #index .jumbotron #philpottCover button {
        box-shadow: 0.3rem 0.3rem #D1495B; }
      #index .jumbotron #philpottCover img {
        box-shadow: 0.3rem 0.3rem #D1495B; }
  #index #indexShop {
    padding: 0px;
    font-family: "Lexend Deca", sans-serif;
    color: #003D5B;
    background-color: #EDAE49; }
    #index #indexShop h1 {
      font-family: "Righteous", cursive;
      color: #D1495B;
      text-shadow: 0.3rem 0.2rem #003D5B; }
      #index #indexShop h1 button {
        box-shadow: 0.3rem 0.3rem #003D5B; }
      #index #indexShop h1 img {
        box-shadow: 0.3rem 0.3rem #003D5B; }
  #index #shopCards {
    padding: 10px; }
    #index #shopCards .card-body {
      background-color: #003D5B;
      color: #EDAE49; }
    #index #shopCards .card {
      border-color: #003D5B; }
    #index #shopCards .btn-primary {
      border-color: #EDAE49;
      background: #EDAE49;
      color: #003D5B; }
  #index #indexTourDates {
    color: white;
    background-image: url("../img/tour-dates-bg-1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #D1495B; }
    #index #indexTourDates .table {
      font-family: "Lexend Deca", sans-serif;
      color: #ffffff;
      font-size: 15px; }
  #index #indexAboutUsAlbums h1 {
    font-size: 50px; }
    @media (min-width: 992px) {
      #index #indexAboutUsAlbums h1 {
        font-size: 100px; } }
    @media (min-width: 576px) {
      #index #indexAboutUsAlbums h1 {
        font-size: 75px; } }
  #index #indexAboutUsAlbums #indexAboutUs {
    color: white;
    background-image: url("../img/index-aboutus-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #00798C;
    text-shadow: 0.3rem 0.2rem #003D5B; }
    #index #indexAboutUsAlbums #indexAboutUs button {
      box-shadow: 0.3rem 0.3rem #003D5B; }
    #index #indexAboutUsAlbums #indexAboutUs img {
      box-shadow: 0.3rem 0.3rem #003D5B; }
    #index #indexAboutUsAlbums #indexAboutUs h1 {
      color: #D1495B;
      text-shadow: 0.3rem 0.2rem #003D5B; }
      #index #indexAboutUsAlbums #indexAboutUs h1 button {
        box-shadow: 0.3rem 0.3rem #003D5B; }
      #index #indexAboutUsAlbums #indexAboutUs h1 img {
        box-shadow: 0.3rem 0.3rem #003D5B; }
    #index #indexAboutUsAlbums #indexAboutUs button {
      background-color: #D1495B;
      border-color: #D1495B;
      color: #003D5B; }
    #index #indexAboutUsAlbums #indexAboutUs button:hover {
      background-color: #ffffff;
      border-color: #ffffff;
      color: #D1495B; }
  #index #indexAboutUsAlbums #indexAlbums {
    color: white;
    background-image: url("../img/index-albums-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #EDAE49;
    text-shadow: 0.3rem 0.2rem #EDAE49; }
    #index #indexAboutUsAlbums #indexAlbums button {
      box-shadow: 0.3rem 0.3rem #EDAE49; }
    #index #indexAboutUsAlbums #indexAlbums img {
      box-shadow: 0.3rem 0.3rem #EDAE49; }
    #index #indexAboutUsAlbums #indexAlbums h1 {
      color: #00798C;
      text-shadow: 0.3rem 0.2rem #EDAE49; }
      #index #indexAboutUsAlbums #indexAlbums h1 button {
        box-shadow: 0.3rem 0.3rem #EDAE49; }
      #index #indexAboutUsAlbums #indexAlbums h1 img {
        box-shadow: 0.3rem 0.3rem #EDAE49; }
    #index #indexAboutUsAlbums #indexAlbums button {
      background-color: #00798C;
      border-color: #00798C;
      color: #EDAE49; }
    #index #indexAboutUsAlbums #indexAlbums button:hover {
      background-color: #ffffff;
      border-color: #ffffff;
      color: #003D5B; }
  #index #indexContactUs {
    color: white;
    background-image: url("../img/index-contactus-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #D1495B;
    padding: 10px;
    padding-bottom: 20px;
    text-shadow: 0.3rem 0.2rem #EDAE49; }
    #index #indexContactUs h1 {
      color: #EDAE49;
      text-shadow: 0.3rem 0.2rem #003D5B; }
      #index #indexContactUs h1 button {
        box-shadow: 0.3rem 0.3rem #003D5B; }
      #index #indexContactUs h1 img {
        box-shadow: 0.3rem 0.3rem #003D5B; }
    #index #indexContactUs button {
      box-shadow: 0.3rem 0.3rem #EDAE49; }
    #index #indexContactUs img {
      box-shadow: 0.3rem 0.3rem #EDAE49; }
    #index #indexContactUs h2 {
      text-shadow: 0.3rem 0.2rem transparent; }
      #index #indexContactUs h2 button {
        box-shadow: 0.3rem 0.3rem transparent; }
      #index #indexContactUs h2 img {
        box-shadow: 0.3rem 0.3rem transparent; }
    #index #indexContactUs button {
      background-color: #00798C;
      border-color: #00798C;
      color: #EDAE49; }
    #index #indexContactUs button:hover {
      background-color: #ffffff;
      border-color: #ffffff;
      color: #003D5B; }
  #index #indexMailingList {
    color: white;
    background-image: url("../img/index-mailinglist-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #003D5B;
    padding: 10px;
    padding-bottom: 20px;
    text-shadow: 0.3rem 0.2rem #EDAE49; }
    #index #indexMailingList h1 {
      color: #D1495B;
      text-shadow: 0.3rem 0.2rem #EDAE49; }
      #index #indexMailingList h1 button {
        box-shadow: 0.3rem 0.3rem #EDAE49; }
      #index #indexMailingList h1 img {
        box-shadow: 0.3rem 0.3rem #EDAE49; }
    #index #indexMailingList button {
      box-shadow: 0.3rem 0.3rem #EDAE49; }
    #index #indexMailingList img {
      box-shadow: 0.3rem 0.3rem #EDAE49; }
    #index #indexMailingList h2 {
      text-shadow: 0.3rem 0.2rem transparent; }
      #index #indexMailingList h2 button {
        box-shadow: 0.3rem 0.3rem transparent; }
      #index #indexMailingList h2 img {
        box-shadow: 0.3rem 0.3rem transparent; }
    #index #indexMailingList button {
      background-color: #D1495B;
      border-color: #D1495B;
      color: #EDAE49; }
    #index #indexMailingList button:hover {
      background-color: #ffffff;
      border-color: #ffffff;
      color: #003D5B; }

#about {
  font-family: "Lexend Deca", sans-serif;
  color: #ffffff;
  color: white;
  background-image: url("../img/index-aboutus-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #ffffff; }
  #about h1 {
    font-family: "Righteous", cursive;
    color: #EDAE49;
    text-shadow: 0.3rem 0.2rem #003D5B;
    font-size: 60px; }
    #about h1 button {
      box-shadow: 0.3rem 0.3rem #003D5B; }
    #about h1 img {
      box-shadow: 0.3rem 0.3rem #003D5B; }
    @media (min-width: 992px) {
      #about h1 {
        font-size: 100px; } }
  #about .row:not(#knowMore) {
    margin: 25px;
    border-radius: 20px; }
    #about .row:not(#knowMore) img {
      margin-top: 10px; }
  #about #aboutHeader {
    background-color: #00798C; }
    #about #aboutHeader h1 {
      color: #D1495B;
      text-shadow: 0.3rem 0.2rem #003D5B; }
      #about #aboutHeader h1 button {
        box-shadow: 0.3rem 0.3rem #003D5B; }
      #about #aboutHeader h1 img {
        box-shadow: 0.3rem 0.3rem #003D5B; }
  #about #rickSteinlaus {
    background-color: #EDAE49; }
    #about #rickSteinlaus .profile-pic {
      text-shadow: 0.3rem 0.2rem #003D5B; }
      #about #rickSteinlaus .profile-pic button {
        box-shadow: 0.3rem 0.3rem #003D5B; }
      #about #rickSteinlaus .profile-pic img {
        box-shadow: 0.3rem 0.3rem #003D5B; }
    #about #rickSteinlaus h1 {
      color: #00798C;
      text-shadow: 0.3rem 0.2rem #003D5B; }
      #about #rickSteinlaus h1 button {
        box-shadow: 0.3rem 0.3rem #003D5B; }
      #about #rickSteinlaus h1 img {
        box-shadow: 0.3rem 0.3rem #003D5B; }
  #about #martinGoblu {
    background-color: #D1495B; }
    #about #martinGoblu .profile-pic {
      text-shadow: 0.3rem 0.2rem #EDAE49; }
      #about #martinGoblu .profile-pic button {
        box-shadow: 0.3rem 0.3rem #EDAE49; }
      #about #martinGoblu .profile-pic img {
        box-shadow: 0.3rem 0.3rem #EDAE49; }
    #about #martinGoblu h1 {
      color: #30638E;
      text-shadow: 0.3rem 0.2rem #EDAE49; }
      #about #martinGoblu h1 button {
        box-shadow: 0.3rem 0.3rem #EDAE49; }
      #about #martinGoblu h1 img {
        box-shadow: 0.3rem 0.3rem #EDAE49; }
  #about #daisyBibfeldt {
    background-color: #003D5B; }
    #about #daisyBibfeldt .profile-pic {
      text-shadow: 0.3rem 0.2rem #D1495B; }
      #about #daisyBibfeldt .profile-pic button {
        box-shadow: 0.3rem 0.3rem #D1495B; }
      #about #daisyBibfeldt .profile-pic img {
        box-shadow: 0.3rem 0.3rem #D1495B; }
    #about #daisyBibfeldt h1 {
      color: #EDAE49;
      text-shadow: 0.3rem 0.2rem #D1495B; }
      #about #daisyBibfeldt h1 button {
        box-shadow: 0.3rem 0.3rem #D1495B; }
      #about #daisyBibfeldt h1 img {
        box-shadow: 0.3rem 0.3rem #D1495B; }
  #about #nickHenrion {
    background-color: #00798C; }
    #about #nickHenrion .profile-pic {
      text-shadow: 0.3rem 0.2rem #D1495B; }
      #about #nickHenrion .profile-pic button {
        box-shadow: 0.3rem 0.3rem #D1495B; }
      #about #nickHenrion .profile-pic img {
        box-shadow: 0.3rem 0.3rem #D1495B; }
    #about #nickHenrion h1 {
      color: #30638E;
      text-shadow: 0.3rem 0.2rem #003D5B; }
      #about #nickHenrion h1 button {
        box-shadow: 0.3rem 0.3rem #003D5B; }
      #about #nickHenrion h1 img {
        box-shadow: 0.3rem 0.3rem #003D5B; }
  #about #knowMore {
    color: white;
    background-image: url("../img/index-albums-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #EDAE49; }
    #about #knowMore h1 {
      color: #00798C;
      text-shadow: 0.3rem 0.2rem #EDAE49; }
      #about #knowMore h1 button {
        box-shadow: 0.3rem 0.3rem #EDAE49; }
      #about #knowMore h1 img {
        box-shadow: 0.3rem 0.3rem #EDAE49; }
    #about #knowMore button {
      background-color: #00798C;
      border-color: #00798C;
      color: #EDAE49; }
    #about #knowMore button:hover {
      background-color: #ffffff;
      border-color: #ffffff;
      color: #003D5B; }
    #about #knowMore #knowMoreButton {
      margin-bottom: 12px; }
      #about #knowMore #knowMoreButton :not(h3):not(button) {
        text-shadow: 0.3rem 0.2rem #EDAE49; }
        #about #knowMore #knowMoreButton :not(h3):not(button) button {
          box-shadow: 0.3rem 0.3rem #EDAE49; }
        #about #knowMore #knowMoreButton :not(h3):not(button) img {
          box-shadow: 0.3rem 0.3rem #EDAE49; }

#contact {
  font-family: "Lexend Deca", sans-serif;
  color: #ffffff;
  color: white;
  background-image: url("../img/index-contactus-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #ffffff; }
  #contact h1 {
    font-family: "Righteous", cursive;
    color: #EDAE49;
    text-shadow: 0.3rem 0.2rem #003D5B;
    font-size: 60px; }
    #contact h1 button {
      box-shadow: 0.3rem 0.3rem #003D5B; }
    #contact h1 img {
      box-shadow: 0.3rem 0.3rem #003D5B; }
    @media (min-width: 992px) {
      #contact h1 {
        font-size: 100px; } }
  #contact h3 {
    color: #ffffff;
    text-shadow: 0.3rem 0.2rem #000; }
    #contact h3 button {
      box-shadow: 0.3rem 0.3rem #000; }
    #contact h3 img {
      box-shadow: 0.3rem 0.3rem #000; }
  @media (max-width: 767.98px) {
    #contact #contactContent {
      margin-bottom: 15em; } }
  #contact #contactManage {
    font-family: "Righteous", cursive;
    color: #D1495B;
    text-shadow: 0.3rem 0.2rem #003D5B; }
    #contact #contactManage button {
      box-shadow: 0.3rem 0.3rem #003D5B; }
    #contact #contactManage img {
      box-shadow: 0.3rem 0.3rem #003D5B; }
  #contact #contactPress {
    font-family: "Righteous", cursive;
    color: #003D5B;
    text-shadow: 0.3rem 0.2rem #00798C; }
    #contact #contactPress button {
      box-shadow: 0.3rem 0.3rem #00798C; }
    #contact #contactPress img {
      box-shadow: 0.3rem 0.3rem #00798C; }
  #contact #contactBooking {
    font-family: "Righteous", cursive;
    color: #EDAE49;
    text-shadow: 0.3rem 0.2rem #003D5B; }
    #contact #contactBooking button {
      box-shadow: 0.3rem 0.3rem #003D5B; }
    #contact #contactBooking img {
      box-shadow: 0.3rem 0.3rem #003D5B; }
  #contact #contactMerchQ {
    font-family: "Righteous", cursive;
    color: #003D5B;
    text-shadow: 0.3rem 0.2rem #D1495B; }
    #contact #contactMerchQ button {
      box-shadow: 0.3rem 0.3rem #D1495B; }
    #contact #contactMerchQ img {
      box-shadow: 0.3rem 0.3rem #D1495B; }

.albumStreamLinks {
  text-shadow: 0.3rem 0.2rem #003D5B; }
  .albumStreamLinks a {
    color: #ffffff; }
  .albumStreamLinks a:hover {
    color: #D1495B; }
  .albumStreamLinks button {
    color: #003D5B; }
  .albumStreamLinks button:hover {
    background-color: #D1495B;
    border-color: #D1495B;
    color: #003D5B; }
  .albumStreamLinks button {
    box-shadow: 0.3rem 0.3rem #003D5B; }
  .albumStreamLinks img {
    box-shadow: 0.3rem 0.3rem #003D5B; }
