//imports
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$philpott-font: 'Limelight', cursive;
$philpott-shadow-color: #000;

$torsoraphy-font: 'Poller One', cursive;
$rdchamber-font: 'Ranchers', cursive;

$paragraph-font: 'Lexend Deca', sans-serif;
$header-font: 'Righteous', cursive;

//colors
$pal-white: #ffffff;
$pal-black: #000;
$pal-color-a: #D1495B;
$pal-color-b: #EDAE49;
$pal-color-c: #00798C;
$pal-color-d: #30638E;
$pal-color-e: #003D5B;

//give a parallax bg to a div
@mixin parallax-bg($bg-url) {
    color: white;
    background-image: $bg-url;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

//drop shadow
@mixin drop-shadow($shadow-color) {
    text-shadow: .3rem .2rem $shadow-color;
    
    button {
        box-shadow: .3rem .3rem $shadow-color;
    }

    img {
        box-shadow: .3rem .3rem $shadow-color;
    }
}

//NAVBAR
.navbar {
    background-color: $pal-black;

    .navbar-nav {
        color: $pal-white;
    }

}

//PADDING FOR NAVBAR & FOOTER
body { 
    padding-top: 65px; 
}

//FOOTER
.site-footer {
    background-color: $pal-black;
    color: $pal-white;
    padding: 20px;

    a {
        color: $pal-color-a;
    }

    a:hover {
        color: $pal-white;
    }

    p {
        font-family: $paragraph-font;
        font-size: 12px;
    }
}

//MAILING LIST MODAL (on every page)
#mailingListModal {
    .modal-header {
        background-color: $pal-color-e;
        font-family: $header-font;
        color:$pal-color-a;
        padding: 2px;
        .modal-title {
            text-shadow: 0.07em 0.07em  $pal-color-b;
            font-size: 40px;
        }
    }
    .modal-body {
        background-color: $pal-color-e;
        color: $pal-color-a;
    }

    //row with cancel and sign up buttons
    #rowButtons {

        //add drop shadow to both buttons
        @include drop-shadow($pal-color-b);
            
        
        button:hover {
                background-color: $pal-white;
                color:$pal-color-b;
            }

        button {
            background-color:$pal-color-a;
            color:$pal-color-b;
        }
    }
}

//INDEX PAGE
#index {

    //STYLE HEADERS (default)
    h1 {
        font-family: $header-font;
        color: $pal-color-b;

        @include drop-shadow($pal-color-e);

        @include media-breakpoint-up(lg) {
            font-size: 100px;
        }

        @include media-breakpoint-up(xs) {
            font-size: 60px;
        }
    }

    //STYLE PARAGRAPHS (default)
    font-family: $paragraph-font;
    color: $pal-white;
    //STYLE BACKGROUND (default)
    background-color: $pal-black; 
    
    //style hero
    #heroContent {
        @include parallax-bg(url('../img/philpott-bg-1.jpg'));
        background-blend-mode: multiply;
        background-color:$pal-color-c;
    }

    //style philpott jumbotron
    .jumbotron {

        background-color: transparent;
        margin: 0;
        padding: 10px;

        .img-fluid{
            margin: 10px;
            @include drop-shadow($pal-color-a);
        }

        h1{
            font-family: $philpott-font;
            color: $pal-color-b;

            // -webkit-text-stroke: 1px rgb(221, 190, 16);
            @include drop-shadow($pal-color-a);

            @include media-breakpoint-up(lg) {
                font-size: 100px;
            }

            @include media-breakpoint-up(xs) {
                font-size: 60px;
            }
        }

        h2, h3 {
            color: $pal-white;
            @include drop-shadow($pal-color-e);
            font-family: $paragraph-font;

            span {
                color: $pal-color-a;
            }
        }

        #philpottCover {
            @include drop-shadow($pal-color-a);

        }
    }

    #indexShop {
        
        padding: 0px;
        //STYLE HEADERS
        h1 {
            font-family: $header-font;
            color: $pal-color-a;
            @include drop-shadow($pal-color-e);
        }
        
        //STYLE PARAGRAPHS
        font-family: $paragraph-font;
        color: $pal-color-e;
        //STYLE BACKGROUND
        background-color: $pal-color-b; 
    }

    #shopCards {
        padding: 10px;


        .card-body {
            background-color:$pal-color-e;
            color: $pal-color-b;
        }

        .card {
            border-color: $pal-color-e;
        }

        .btn-primary {
            border-color: $pal-color-b;
            background: $pal-color-b;
            color: $pal-color-e;
        }
    }

    #indexTourDates {
        //style background
        @include parallax-bg(url('../img/tour-dates-bg-1.jpg'));
        background-blend-mode: multiply;
        background-color:$pal-color-a;

        .table {
            font-family: $paragraph-font;
            color: $pal-white;
            font-size: 15px;
        }
    }

    //style about us/albums cards
    #indexAboutUsAlbums {

        //both
        h1{
            @include media-breakpoint-up(lg) {
                font-size: 100px;
            }

            @include media-breakpoint-up(sm) {
                font-size: 75px;
            }

            @include media-breakpoint-up(xs) {
                font-size: 50px;
            }
        }

        //about us
        #indexAboutUs {
            @include parallax-bg(url('../img/index-aboutus-bg.jpg'));
            background-blend-mode: multiply;
            background-color: $pal-color-c;

            @include drop-shadow($pal-color-e);

            h1 {
                color: $pal-color-a;
                @include drop-shadow($pal-color-e);
            }

            button {
                background-color: $pal-color-a;
                border-color:$pal-color-a;
                color:$pal-color-e;
            }
        
            button:hover {
                background-color: $pal-white;
                border-color:$pal-white;
                color:$pal-color-a;
            }
        }

        //albums
        #indexAlbums {
            @include parallax-bg(url('../img/index-albums-bg.jpg'));
            background-blend-mode: multiply;
            background-color: $pal-color-b;

            @include drop-shadow($pal-color-b);

            h1 {
                color: $pal-color-c;
                @include drop-shadow($pal-color-b);
            }

            button {
                background-color: $pal-color-c;
                border-color:$pal-color-c;
                color:$pal-color-b;
                
            }
        
            button:hover {
                background-color: $pal-white;
                border-color:$pal-white;
                color:$pal-color-e;
            }

        }
    }

    //contact us
    #indexContactUs {
        @include parallax-bg(url('../img/index-contactus-bg.jpg'));
        background-blend-mode: multiply;
        background-color: $pal-color-a;

        padding: 10px;
        padding-bottom: 20px;

        h1 {
            color: $pal-color-b;
            @include drop-shadow($pal-color-e);
        }

        //button drop shadow
        @include drop-shadow($pal-color-b);

        //take drop shadow off white text
        h2 {
            @include drop-shadow(transparent);
        }

        button {
            background-color: $pal-color-c;
            border-color:$pal-color-c;
            color:$pal-color-b;
        }
    
        button:hover {
            background-color: $pal-white;
            border-color:$pal-white;
            color:$pal-color-e;
        }
    }
    //mailing list
    #indexMailingList {
        @include parallax-bg(url('../img/index-mailinglist-bg.jpg'));
        background-blend-mode: multiply;
        background-color: $pal-color-e;

        padding: 10px;
        padding-bottom: 20px;

        h1 {
            color: $pal-color-a;
            @include drop-shadow($pal-color-b);
        }

        //button drop shadow
        @include drop-shadow($pal-color-b);

        //take drop shadow off white text
        h2 {
            @include drop-shadow(transparent);
        }

        button {
            background-color: $pal-color-a;
            border-color:$pal-color-a;
            color:$pal-color-b;
        }
    
        button:hover {
            background-color: $pal-white;
            border-color:$pal-white;
            color:$pal-color-e;
        }
    }
}

//ALBUMS PAGE
#albums {
    //STYLE HEADERS (default)
    h1 {
        font-family: $header-font;
        color: $pal-color-b;

        @include drop-shadow($pal-color-e);

        @include media-breakpoint-up(lg) {
            font-size: 100px;
        }

        @include media-breakpoint-up(xs) {
            font-size: 60px;
        }
    }

    //STYLE PARAGRAPHS (default)
    font-family: $paragraph-font;
    color: $pal-white;
    //STYLE BACKGROUND (default)
    background-color: $pal-black; 

    //style the album display jumbotrons
    .jumbotron {

        background-color: transparent;
        margin: 0;
        padding: 10px;

        .img-fluid{
            margin: 10px;
            @include drop-shadow($pal-color-a);
        }
    }

    #albumsPhilpott {
        @include parallax-bg(url('../img/philpott-bg-1.jpg'));
        background-blend-mode: multiply;
        background-color:$pal-color-c;

        #philpottCover {
            @include drop-shadow($pal-color-a);

        }

        h1{
            font-family: $philpott-font;
            color: $pal-color-b;

            // -webkit-text-stroke: 1px rgb(221, 190, 16);
            @include drop-shadow($pal-color-a);

            @include media-breakpoint-up(lg) {
                font-size: 100px;
            }

            @include media-breakpoint-up(xs) {
                font-size: 60px;
            }
        }

        h2, h3 {
            color: $pal-white;
            @include drop-shadow($pal-color-e);
            font-family: $paragraph-font;

            span {
                color: $pal-color-a;
            }
        }
    }

    #albumsTorsoraphy {
        @include parallax-bg(url('../img/torsoraphy-bg.png'));
        background-blend-mode: multiply;
        background-color:$pal-color-a;

        #torsoraphyCover {
            @include drop-shadow($pal-color-d);

        }

        h1{
            font-family: $torsoraphy-font;
            color: $pal-color-c;

            @include drop-shadow($pal-color-e);

            @include media-breakpoint-up(lg) {
                font-size: 80px;
            }

            @include media-breakpoint-up(xs) {
                font-size: 40px;
            }
        }

        h2, h3 {
            color: $pal-white;
            @include drop-shadow($pal-color-e);
            font-family: $paragraph-font;

            span {
                color: $pal-color-a;
            }
        }
    }

    #albumsRdchamber {
        @include parallax-bg(url('../img/rdchamber-bg.png'));
        background-blend-mode: multiply;
        background-color:$pal-color-b;

        #rdchamberCover {
            @include drop-shadow($pal-color-e);

        }

        h1{
            font-family: $rdchamber-font;
            color: $pal-color-a;

            @include drop-shadow($pal-color-e);

            @include media-breakpoint-up(lg) {
                font-size: 80px;
            }

            @include media-breakpoint-up(xs) {
                font-size: 40px;
            }
        }

        h2, h3 {
            color: $pal-white;
            @include drop-shadow($pal-color-e);
            font-family: $paragraph-font;

            span {
                color: $pal-color-a;
            }
        }
    }
}

//ABOUT PAGE
#about {

        //STYLE HEADERS (default)
    h1 {
        font-family: $header-font;
        color: $pal-color-b;

        @include drop-shadow($pal-color-e);

        @include media-breakpoint-up(lg) {
            font-size: 100px;
        }

        @include media-breakpoint-up(xs) {
            font-size: 60px;
        }
    }

    //STYLE PARAGRAPHS (default)
    font-family: $paragraph-font;
    color: $pal-white;

    //background
    @include parallax-bg(url('../img/index-aboutus-bg.jpg'));
        background-blend-mode: multiply;
        background-color:$pal-white;

    //OPENING PARAGRAPH

    .row:not(#knowMore) {
        margin: 25px;
        border-radius: 20px;

        img {
            margin-top: 10px;
        }
    }

    #aboutHeader {
        background-color: $pal-color-c;

            h1 {
                color: $pal-color-a;
                @include drop-shadow($pal-color-e);
            }
    }

    //INDIVIDUAL BAND MEMBERS
    #rickSteinlaus {
        background-color: $pal-color-b;

            .profile-pic {
                @include drop-shadow($pal-color-e);
            }

            h1 {
                color: $pal-color-c;
                @include drop-shadow($pal-color-e);
            }
    }

    #martinGoblu {
        background-color: $pal-color-a;

            .profile-pic {
                @include drop-shadow($pal-color-b);
            }

            h1 {
                color: $pal-color-d;
                @include drop-shadow($pal-color-b);
            }
    }

    #daisyBibfeldt {
        background-color: $pal-color-e;

            .profile-pic {
                @include drop-shadow($pal-color-a);
            }

            h1 {
                color: $pal-color-b;
                @include drop-shadow($pal-color-a);
            }
    }

    #nickHenrion {
        background-color: $pal-color-c;

            .profile-pic {
                @include drop-shadow($pal-color-a);
            }

            h1 {
                color: $pal-color-d;
                @include drop-shadow($pal-color-e);
            }
    }

    //end tag thing
    #knowMore {
        @include parallax-bg(url('../img/index-albums-bg.jpg'));
            background-blend-mode: multiply;
            background-color: $pal-color-b;

            h1 {
                color: $pal-color-c;
                @include drop-shadow($pal-color-b);
            }

            button {
                background-color: $pal-color-c;
                border-color:$pal-color-c;
                color:$pal-color-b;
                
            }
        
            button:hover {
                background-color: $pal-white;
                border-color:$pal-white;
                color:$pal-color-e;
            }

        #knowMoreButton {
            margin-bottom: 12px;
            :not(h3):not(button) {@include drop-shadow($pal-color-b);}
        }
    }
}

//CONTACT PAGE
#contact {
        //STYLE HEADERS (default)
    h1 {
        font-family: $header-font;
        color: $pal-color-b;

        @include drop-shadow($pal-color-e);

        @include media-breakpoint-up(lg) {
            font-size: 100px;
        }

        @include media-breakpoint-up(xs) {
            font-size: 60px;
        }
    }

    h3 {
            color: $pal-white;
            @include drop-shadow($pal-black);
        }

    //STYLE PARAGRAPHS (default)
    font-family: $paragraph-font;
    color: $pal-white;

    //background
    @include parallax-bg(url('../img/index-contactus-bg.jpg'));
        background-blend-mode: multiply;
        background-color:$pal-white;

    //margin
    #contactContent {
        @include media-breakpoint-down(sm) {
                margin-bottom: 15em;
            }
    }

    #contactManage {
        font-family: $header-font;
        color: $pal-color-a;

        @include drop-shadow($pal-color-e);
    }
    #contactPress {
        font-family: $header-font;
        color: $pal-color-e;

        @include drop-shadow($pal-color-c);
    }
    #contactBooking {
        font-family: $header-font;
        color: $pal-color-b;

        @include drop-shadow($pal-color-e);
    }
    #contactMerchQ {
        font-family: $header-font;
        color: $pal-color-e;

        @include drop-shadow($pal-color-a);
    }
}

.albumStreamLinks {
    a {
        color: $pal-white;
    }

    a:hover {
        color: $pal-color-a;
    }

    button {
        color:$pal-color-e;
    }

    button:hover {
        background-color: $pal-color-a;
        border-color:$pal-color-a;
        color:$pal-color-e;
    }

    @include drop-shadow($pal-color-e);
}